* {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;
    background-color: #D3E1FE;
    height: 700px;
    /* max-width: 760px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background {
    max-width: 400px;
    background-color: rgb(230, 223, 223);
    text-align: center;
    border-radius: 10px;
  }

  hr {
      margin-top: 10px;
      width: 80%;
      text-align: center;
  }