* {
    padding: 0;
    margin: 0;
}

body {
    padding: 120px;
    font-family: "Montserrat", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login p {
    font-size: 15px;
    margin-left: 10px;
}

.login {
    display: flex;
    align-items: center;
}

i {
    font-size: 40px;
}

.menu li {
    text-decoration: none;
    list-style: none;
}

.menu {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
}

button {
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.content h1 {
    font-size: 65px;
}

.p1 {
    margin-top: 15px ;
}

.content img {
    width: 550px;
    height: 350px;
    border-radius: 90px 0 40px 40px;
}

.content p {
    color: grey;
    font-size: 20px;
    margin-left: 5px;
}

.button { 
    margin-top: 45px;
}

.get {
    border-radius: 10px;
    background-color: black;
    color: white;
}
 .learn {
     margin-left: 35px ;
 }

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 30px;
}

.footer img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.footer p {
    color: grey;
}

