* {
    margin: 10px;
}

body {
    background-color: rgb(150, 150, 150);
  }
  
@media screen and (max-width: 1080px) {
    body {
      background-color: rgb(150, 150, 150);
    }
}

@media screen and (max-width: 800px) {
    body {
      background-color: rgb(150, 150, 150);
    }
    .content
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    body {
      background-color: rgb(150, 150, 150);
    }
    .content1 {
        flex-direction: column;
    }
}

.content
{
    display: flex;
    width: 1460px;
}

.content1
{
    display: flex;
    max-width: 48%;
    width: 48%;
}

img {
    width: 350px;
    height: 200px;
}

h2 {
    color: red;
}

hr {
    margin-top: 35px;
    width: 70%;
}

.content-2 {
    width: 40%;
}