* {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;
    background-color: #D3E1FE;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background {
    max-width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
  }

  h1 {
    font-size: 25px;
  }

  img {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
  }

 .text {
   margin-top: 25px;
 }

 p {
    font-size: 14px;
    color: grey;
    max-width: 400px;
    line-height: 20px;
    padding: 40px;
 }

 .music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background-color: #f3f6ff;
    padding: 15px;
    border-radius: 20px;
    max-width: 70%;
 }

 span {
    color: grey;
    margin-right: 47px;
    font-size: 12px;
 }

 .icon {
    background-color:#d5d9e4;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
   align-items: center;
   justify-content: center;
 }

i {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .change {
   font-size: 12px;
 }

 .Payment {
    margin-top: 25px;
    background-color: rgb(2, 6, 253);
    width: 70%;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: 0 10px 15px rgb(168, 166, 192);
 }

 .cancel
 {
    margin-top: 30px;
    display: block;
    margin-bottom: 45px;
    color: grey;
    font-size: 14px;
 }
